<p><label>Name</label><input type="text" id="new-name" value="{{name}}"/></p>
<p><label>Neighborhood</label><input type="text" id="new-neighborhood" value="{{neighborhood}}"/></p>
<p><label>Cost</label><select id="new-dollars" class="text ui-widget-content ui-corner-all">
  <option value="1" {{selected dollars 1}}>$</option>
  <option value="2" {{selected dollars 2}}>$$</option>
  <option value="3" {{selected dollars 3}}>$$$</option>
</select></p>
<p><button id='add-eat' class="btn" href="#">Add</button></p>